<%- include partials/header.ejs %>

<style>
    /* Make the image fully responsive */
    
    .carousel-inner img {
      width: 100%;
      height: 10%;
      opacity: 0.5;
    }
    .carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
    }
    .trickcenter {
    position: fixed;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  </style>

<body>
  <div class="container">

<div id="demo" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
  <li data-target="#demo" data-slide-to="0" class="active"></li>
  <li data-target="#demo" data-slide-to="1"></li>
  <li data-target="#demo" data-slide-to="2"></li>
  <li data-target="#demo" data-slide-to="3"></li>
  <li data-target="#demo" data-slide-to="4"></li>

</ul>
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="https://c1.wallpaperflare.com/preview/572/808/14/shopping-business-retail-shopping-cart.jpg" alt="slide one" width="50" height="50">
    <div class="carousel-caption trickcenter">
      <h3 color="black"><strong>Welcome to Groceries Mart!</strong></h3>
      <p color="text-black"><strong>Pay using your Web3 wallets</strong></p>
    </div>
  </div>
  <div class="carousel-item">
    <img src="https://img.freepik.com/free-photo/point-view-customer-supermarket_53876-143000.jpg?size=626&ext=jpg&ga=GA1.1.1673260717.1701605054&semt=sph" alt="slide two" width="50" height="50">
    <div class="transbox carousel-caption trickcenter">
      <h3>Slide Two</h3>
      <p>Description slide two</p>
    </div>
  </div>
  <div class="carousel-item">
    <img src="https://img.freepik.com/free-photo/colorful-veggies-frame-with-copy-space_23-2148290738.jpg?size=626&ext=jpg&ga=GA1.1.1673260717.1701605054&semt=sph" alt="slide three" width="50" height="50">
    <div class="carousel-caption trickcenter">
      <h3>Slide Three</h3>
      <p>Description slide three</p>
    </div>
  </div>
        <div class="carousel-item">
    <img src="https://images.unsplash.com/photo-1504406438164-c0e042535100?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=420&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=680" alt="slide four" width="50" height="50">
    <div class="carousel-caption trickcenter">
      <h3>Slide Four</h3>
      <p>Description slide Four</p>
    </div>
  </div>
              <div class="carousel-item">
    <img src="https://images.unsplash.com/photo-1571407509209-73d3e4a45892?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=420&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=680" alt="slide five" width="250" height="250">
    <div class="carousel-caption trickcenter">
      <h3>Slide Five</h3>
      <p>Description slide Five</p>
    </div>
  </div>
</div>
<a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
</div>

</div>

<%- include partials/footer.ejs %>